alias get_idf='. $HOME/esp/esp-idf/export.sh'
alias get_idf5.5='. $HOME/esp/esp-idf-v5.5.4/export.sh'
alias get_idf5.3='. $HOME/esp/esp-idf-v5.3.3/export.sh'

alias clang='/usr/bin/clang'

alias py='python3'

alias lg='lazygit'

alias cd..="cd .."

alias tls='tmux ls'

alias ls='eza'                              # no flags
alias ls1='eza -1'                          # 1 entry per line
alias lsa1='eza -1 --all'                   # 1 entry per line
alias lsd='eza --only-dirs'                 # [-d] dirs only
alias lsf='eza --only-files'                # [-f] files only
alias lsdf='eza --sort=type'                # [-sd] dirs then files
alias lsfd='eza --sort=type -r'             # [-f] files then dirs
alias lsl='eza --long'                      # [-l] long listing
alias lsla='eza --long --all'               # [-l] long listing [-a] all
alias lsa='eza --all'                       # [-a] lists all 
alias lsA='eza --almost-all'                # [-A] lists all except ./ and ../
alias lsT='eza --tree'                      # file tree MAXDEPTH
alias lst='eza --tree --level=3'            # file tree DEPTH = 3
alias lsta='eza --tree --level=3 --all'     # file tree DEPTH = 3

alias nconf='cd ~/.config/nvim/lua; nvim .; cd -'
alias dots='cd ~/.dotfiles'

# ranger exits to current dir
alias rng='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# git aliases
alias gs='git status'
alias gch='git checkout'

alias ff='fastfetch'
# start tmux with fastfetch
alias tff='tmux new -d && tmux send-keys "fastfetch" Enter && tmux a'
alias tns='tmux new -s'
alias tnt='tmux new -t'

alias fcb-arm='cmake -B build --fresh -DCMAKE_TOOLCHAIN_FILE=cmake/gcc-arm-none-eabi.cmake && cmake --build build'
alias fcb='cmake -B build --fresh && cmake --build build'
alias cb='cmake --build build'

# display colors
alias clrs='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done'
alias clrs24='for r in {0..255..51}; do for g in {0..255..51}; do for b in {0..255..51}; do printf "\033[48;2;%d;%d;%dm %3d,%3d,%3d \033[0m " $r $g $b $r $g $b; done; echo; done; echo; done'

alias awk='gawk'

eval $(thefuck --alias)
