alias py='python3'

alias ls='colorls'                  # no flags
alias ls1='colorls -1'              # 1 entry per line
alias lsd='colorls --dirs'          # [-d] dirs only
alias lsf='colorls --files'         # [-f] files only
alias lsdf='colorls --sort-dirs'    # [-sd] dirs then files
alias lsfd='colorls --sort-files'    # [-f] files then dirs
alias lsl='colorls --long'          # [-l] long listing
alias lsa='colorls --all'           # [-a] lists all 
alias lsA='colorls --almost-all'    # [-A] lists all except ./ and ../
alias lsT='colorls --tree'          # file tree MAXDEPTH
alias lst='colorls --tree=3'        # file tree DEPTH = 3
alias lsta='colorls --tree=3 --all'        # file tree DEPTH = 3

alias nconf='nvim ~/.config/nvim/lua'
alias dots='cd ~/.dotfiles'

# ranger exits to current dir
alias rng='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# git aliases
alias gs='git status'
alias gch='git checkout'

alias ff='fastfetch'
# start tmux with fastfetch
alias tff='tmux new -d && tmux send-keys "fastfetch" Enter && tmux a'
alias tns='tmux new -s'
alias tnt='tmux new -t'

# new tmux window to Game folder -- MUST have a tmux session started already
alias game='tmux new-window -c ~/Developer/C++/GAME; tmux rename-window GAME'
alias cgol='cd ~/Developer/C++/CGOL'
alias rv2='tmux new-window -c ~/Developer/rust/exp; tmux rename-window V2; tmux split-window -h -c "#{pane_current_path}"; tmux split-window -v -c "#{pane_current_path}"; tmux select-pane -t 0; tmux send-keys "nvim src/main.rs" Enter'

# display colors

alias clrs='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done'
