# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jbrilha
	email = joao.brilha2001@gmail.com
	signingkey = /Users/joaobrilha/.ssh/id_ed25519.pub
[core]
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/themes.gitconfig

[delta]
    navigate = true
    side-by-side = true
    features = heron

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[http]
	postBuffer = 524288000
	maxRequestBuffer = 1048576000
[credential]
	helper = store
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
[alias]
	dog = log --all --decorate --oneline --graph
