# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jbrilha
	email = j.brilha@campus.fct.unl.pt
[core]
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/themes.gitconfig

[delta]
    navigate = true
    side-by-side = true
    features = heron

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
